.c-btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 8px 7px;
  transition: background-color 0.3s;

  &,
  &:hover,
  &:active,
  &:focus {
    outline: none;
    border: none;
    text-decoration: none;
  }

  &--primary {
    background-color: $colour-black;

    &,
    &:hover,
    &:active,
    &:focus {
      color: $colour-white;
    }

    &:hover,
    &:focus {
      background-color: lighten($colour-black, 25%);
      color: $colour-white;
    }
  }

  &--secondary {
    background-color: $colour-white;

    &,
    &:hover,
    &:active,
    &:focus {
      color: $colour-black;
    }

    &:hover,
    &:focus {
      background-color: darken($colour-white, 8%);
      color: $colour-black;
    }
  }

}
