@keyframes example {
  0%   {transform: scale(1);}
  25%  {transform: scale(1.05);}
  50%  {transform: scale(0.95);}
  75%  {transform: scale(1.05);}
  100% {transform: scale(1);}
}

.c-text-block {
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
  margin-bottom: 40px;

  &__animate-on-update {
    animation: 1s example;
  }

  &__top-section {
    background-color: $colour-grey-light;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }

  &__title {
    color: $colour-blue;
  }

  &__buttons {

  }

  &__button {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;

    &:hover {
      text-decoration: underline;
    }

  }

  &__content {
    min-height: 80px;
    background-color: $colour-white;
    display: flex;
    align-items: center;
  }

  &__content-no-text {
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 10px;
    background-color: white;
    transition: background-color .3s;

    &:hover {
      background-color: #F2F2F2;
    }
  }

  &__content-no-text-inner {

  }

  &__content-has-text {
    padding: 10px;
  }

  &__content-has-text-title {
    font-size: 26px;
    padding-bottom: 9px;
  }

  &__content-has-text-body {
    padding-bottom: 20px;
  }
}
