.c-add-content-block {
  width: 100%;
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
  margin-bottom: 40px;

  &__top-section {
    background-color: $colour-grey-light;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  &__buttons {
    height: 80px;
    background-color: $colour-white;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  &__button {
    margin-right: 10px;
  }
}
