.c-product-block {
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
  margin-bottom: 40px;

  &__top-section {
    background-color: $colour-grey-light;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }

  &__title {
    color: $colour-green;
  }

  &__buttons {

  }

  &__button {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;

    &:hover {
      text-decoration: underline;
    }

  }

  &__content {
    min-height: 80px;
    background-color: $colour-white;
    display: flex;
    align-items: center;
  }

  &__content-no-products {
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 10px;
    background-color: white;
    transition: background-color .3s;

    &:hover {
      background-color: #F2F2F2;
    }
  }

  &__content-no-products-inner {

  }

  &__content-has-products {
    padding: 10px;
  }

  &__content-has-products-title {
    font-size: 26px;
    padding-bottom: 9px;
  }

  &__content-has-products-body {
    padding-bottom: 20px;
  }
}
