.c-edit-text-block {

  &__top-section {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: $colour-grey-light;
  }
  &__title {
    color: orange;
  }
  &__form {
    padding: 20px;
  }
  &__text-input {
    font-size: 14px;
    width: 100%;
    padding: 4px 0;
    border: none;
    border-bottom: 2px solid lightgrey;
    margin-bottom: 8px;
    color: grey;
    transition: border .3s;
    &:focus {
      outline: none;
      border-bottom: 2px solid black;
    }
    &::placeholder {
      color: lightgrey;
    }
  }
  &__textarea {
    font-size: 14px;
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 2px solid lightgrey;
    transition: border .3s;
    &:focus {
      outline: none;
      border-bottom: 2px solid black;
    }

    &::placeholder {
      color: lightgrey;
    }
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  &__button {
    margin-left: 6px;
  }
}
