.c-edit-drop-down {
  $root: &;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  &__mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
  }

  &__edit-area {
    position: fixed;
    top: -50px;
    z-index: 3;
    width: 100%;
    margin-top: 10px;
  }

  &__edit-area-inner {
    width: 60%;
    margin: 0 auto;
    background-color: $colour-white;
  }

  &__animate-in {
    #{$root}__edit-area {
      transition: top .3s;
      top: 0;
    }
    #{$root}__mask {
      transition: background-color .3s;
      background-color: rgba(0, 0, 0, .8);
    }
  }


}
