.v-app {
  background-color: $colour-grey;
  min-height: 100vh;
  padding: 20px 0;

  font-family: helvetica;

  &__title {
    padding-bottom: 35px;
  }

  &__export-json {
    font-size: 12px;
    float: right;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
