@charset "UTF-8";
/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0; }

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0; }

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0; }

/* ==========================================================================
   #LAYOUT
   ========================================================================== */
/**
 * Grid-like layout system.
 *
 * The layout object provides us with a column-style layout system. This file
 * contains the basic structural elements, but classes should be complemented
 * with width utilities, for example:
 *
 *   <div class="o-layout">
 *     <div class="o-layout__item  u-1/2">
 *     </div>
 *     <div class="o-layout__item  u-1/2">
 *     </div>
 *   </div>
 *
 * The above will create a two-column structure in which each column will
 * fluidly fill half of the width of the parent. We can have more complex
 * systems:
 *
 *   <div class="o-layout">
 *     <div class="o-layout__item  u-1/1  u-1/3@medium">
 *     </div>
 *     <div class="o-layout__item  u-1/2  u-1/3@medium">
 *     </div>
 *     <div class="o-layout__item  u-1/2  u-1/3@medium">
 *     </div>
 *   </div>
 *
 * The above will create a system in which the first item will be 100% width
 * until we enter our medium breakpoint, when it will become 33.333% width. The
 * second and third items will be 50% of their parent, until they also become
 * 33.333% width at the medium breakpoint.
 *
 * We can also manipulate entire layout systems by adding a series of modifiers
 * to the `.o-layout` block. For example:
 *
 *   <div class="o-layout  o-layout--reverse">
 *
 * This will reverse the displayed order of the system so that it runs in the
 * opposite order to our source, effectively flipping the system over.
 *
 *   <div class="o-layout  o-layout--[right|center]">
 *
 * This will cause the system to fill up from either the centre or the right
 * hand side. Default behaviour is to fill up the layout system from the left.
 *
 * There are plenty more options available to us: explore them below.
 */
/* Default/mandatory classes.
   ========================================================================== */
/**
 * 1. Allows us to use the layout object on any type of element.
 * 2. We need to defensively reset any box-model properties.
 * 3. Use the negative margin trick for multi-row grids:
 *    http://csswizardry.com/2011/08/building-better-grid-systems/
 */
.o-layout {
  display: block;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  list-style: none;
  /* [1] */
  margin-left: -24px;
  /* [3] */
  font-size: 0; }

/**
   * 1. Required in order to combine fluid widths with fixed gutters.
   * 2. Allows us to manipulate grids vertically, with text-level properties,
   *    etc.
   * 3. Default item alignment is with the tops of each other, like most
   *    traditional grid/layout systems.
   * 4. By default, all layout items are full-width (mobile first).
   * 5. Gutters provided by left padding:
   *    http://csswizardry.com/2011/08/building-better-grid-systems/
   * 6. Fallback for old IEs not supporting `rem` values.
   */
.o-layout__item {
  box-sizing: border-box;
  /* [1] */
  display: inline-block;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */
  padding-left: 24px;
  /* [5] */
  font-size: 16px;
  /* [6] */
  font-size: 1rem; }

/* Gutter size modifiers.
   ========================================================================== */
.o-layout--flush {
  margin-left: 0; }
  .o-layout--flush > .o-layout__item {
    padding-left: 0; }

.o-layout--tiny {
  margin-left: -6px; }
  .o-layout--tiny > .o-layout__item {
    padding-left: 6px; }

.o-layout--small {
  margin-left: -12px; }
  .o-layout--small > .o-layout__item {
    padding-left: 12px; }

.o-layout--large {
  margin-left: -48px; }
  .o-layout--large > .o-layout__item {
    padding-left: 48px; }

.o-layout--huge {
  margin-left: -96px; }
  .o-layout--huge > .o-layout__item {
    padding-left: 96px; }

/* Vertical alignment modifiers.
   ========================================================================== */
/**
 * Align all grid items to the middles of each other.
 */
.o-layout--middle > .o-layout__item {
  vertical-align: middle; }

/**
 * Align all grid items to the bottoms of each other.
 */
.o-layout--bottom > .o-layout__item {
  vertical-align: bottom; }

/**
 * Stretch all grid items of each row to have an equal-height.
 * Please be aware that this modifier class doesn't take any effect in IE9 and
 * below and other older browsers due to the lack of `display: flex` support.
 */
.o-layout--stretch {
  display: flex;
  flex-wrap: wrap; }
  .o-layout--stretch > .o-layout__item {
    display: flex; }

/* Fill order modifiers.
   ========================================================================== */
/**
 * Fill up the layout system from the centre.
 */
.o-layout--center {
  text-align: center; }
  .o-layout--center > .o-layout__item {
    text-align: left; }

/**
 * Fill up the layout system from the right-hand side.
 */
.o-layout--right {
  text-align: right; }
  .o-layout--right > .o-layout__item {
    text-align: left; }

/**
 * Fill up the layout system from the left-hand side. This will likely only be
 * needed when using in conjunction with `.o-layout--reverse`.
 */
.o-layout--left {
  text-align: left; }
  .o-layout--left > .o-layout__item {
    text-align: left; }

/**
 * Reverse the rendered order of the grid system.
 */
.o-layout--reverse {
  direction: rtl; }
  .o-layout--reverse > .o-layout__item {
    direction: ltr; }

/* Auto-widths modifier.
   ========================================================================== */
/**
 * Cause layout items to take up a non-explicit amount of width.
 */
.o-layout--auto > .o-layout__item {
  width: auto; }

.o-layout-fixed-width {
  padding: 0 10px;
  max-width: 1024px;
  margin: 0 auto; }

.c-add-content-block {
  width: 100%;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px; }
  .c-add-content-block__top-section {
    background-color: #fafafa;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px; }
  .c-add-content-block__buttons {
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0 10px; }
  .c-add-content-block__button {
    margin-right: 10px; }

.c-product-block {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px; }
  .c-product-block__top-section {
    background-color: #fafafa;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px; }
  .c-product-block__title {
    color: #0d856b; }
  .c-product-block__button {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px; }
    .c-product-block__button:hover {
      text-decoration: underline; }
  .c-product-block__content {
    min-height: 80px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center; }
  .c-product-block__content-no-products {
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 10px;
    background-color: white;
    transition: background-color .3s; }
    .c-product-block__content-no-products:hover {
      background-color: #F2F2F2; }
  .c-product-block__content-has-products {
    padding: 10px; }
  .c-product-block__content-has-products-title {
    font-size: 26px;
    padding-bottom: 9px; }
  .c-product-block__content-has-products-body {
    padding-bottom: 20px; }

@keyframes example {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.05); }
  50% {
    transform: scale(0.95); }
  75% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.c-text-block {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px; }
  .c-text-block__animate-on-update {
    animation: 1s example; }
  .c-text-block__top-section {
    background-color: #fafafa;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px; }
  .c-text-block__title {
    color: #4a64c1; }
  .c-text-block__button {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px; }
    .c-text-block__button:hover {
      text-decoration: underline; }
  .c-text-block__content {
    min-height: 80px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center; }
  .c-text-block__content-no-text {
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 10px;
    background-color: white;
    transition: background-color .3s; }
    .c-text-block__content-no-text:hover {
      background-color: #F2F2F2; }
  .c-text-block__content-has-text {
    padding: 10px; }
  .c-text-block__content-has-text-title {
    font-size: 26px;
    padding-bottom: 9px; }
  .c-text-block__content-has-text-body {
    padding-bottom: 20px; }

.c-edit-drop-down {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }
  .c-edit-drop-down__mask {
    width: 100%;
    height: 100%;
    background-color: transparent; }
  .c-edit-drop-down__edit-area {
    position: fixed;
    top: -50px;
    z-index: 3;
    width: 100%;
    margin-top: 10px; }
  .c-edit-drop-down__edit-area-inner {
    width: 60%;
    margin: 0 auto;
    background-color: #FFFFFF; }
  .c-edit-drop-down__animate-in .c-edit-drop-down__edit-area {
    transition: top .3s;
    top: 0; }
  .c-edit-drop-down__animate-in .c-edit-drop-down__mask {
    transition: background-color .3s;
    background-color: rgba(0, 0, 0, 0.8); }

.c-edit-text-block__top-section {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #fafafa; }

.c-edit-text-block__title {
  color: orange; }

.c-edit-text-block__form {
  padding: 20px; }

.c-edit-text-block__text-input {
  font-size: 14px;
  width: 100%;
  padding: 4px 0;
  border: none;
  border-bottom: 2px solid lightgrey;
  margin-bottom: 8px;
  color: grey;
  transition: border .3s; }
  .c-edit-text-block__text-input:focus {
    outline: none;
    border-bottom: 2px solid black; }
  .c-edit-text-block__text-input::placeholder {
    color: lightgrey; }

.c-edit-text-block__textarea {
  font-size: 14px;
  width: 100%;
  height: 60px;
  border: none;
  border-bottom: 2px solid lightgrey;
  transition: border .3s; }
  .c-edit-text-block__textarea:focus {
    outline: none;
    border-bottom: 2px solid black; }
  .c-edit-text-block__textarea::placeholder {
    color: lightgrey; }

.c-edit-text-block__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; }

.c-edit-text-block__button {
  margin-left: 6px; }

.c-btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 8px 7px;
  transition: background-color 0.3s; }
  .c-btn, .c-btn:hover, .c-btn:active, .c-btn:focus {
    outline: none;
    border: none;
    text-decoration: none; }
  .c-btn--primary {
    background-color: #000000; }
    .c-btn--primary, .c-btn--primary:hover, .c-btn--primary:active, .c-btn--primary:focus {
      color: #FFFFFF; }
    .c-btn--primary:hover, .c-btn--primary:focus {
      background-color: #404040;
      color: #FFFFFF; }
  .c-btn--secondary {
    background-color: #FFFFFF; }
    .c-btn--secondary, .c-btn--secondary:hover, .c-btn--secondary:active, .c-btn--secondary:focus {
      color: #000000; }
    .c-btn--secondary:hover, .c-btn--secondary:focus {
      background-color: #ebebeb;
      color: #000000; }

.v-app {
  background-color: #f1f1f1;
  min-height: 100vh;
  padding: 20px 0;
  font-family: helvetica; }
  .v-app__title {
    padding-bottom: 35px; }
  .v-app__export-json {
    font-size: 12px;
    float: right;
    cursor: pointer; }
    .v-app__export-json:hover {
      text-decoration: underline; }

/* ==========================================================================
   #WIDTHS
   ========================================================================== */
/**
 * inuitcss generates a series of utility classes that give a fluid width to
 * whichever element they’re applied, e.g.:
 *
 *   <img src="" alt="" class="u-1/2" />
 *
 * These classes are most commonly used in conjunction with our layout system,
 * e.g.:
 *
 *   <div class="o-layout__item  u-1/2">
 *
 * By default, inuitcss will also generate responsive variants of each of these
 * classes by using your Sass MQ configuration, e.g.:
 *
 *   <div class="o-layout__item  u-1/1  u-1/2@tablet  u-1/3@desktop">
 *
 * Optionally, inuitcss can generate offset classes which can push and pull
 * elements left and right by a specified amount, e.g.:
 *
 *   <div class="o-layout__item  u-2/3  u-pull-1/3">
 *
 * This is useful for making very granular changes to the rendered order of
 * items in a layout.
 *
 * N.B. This option is turned off by default.
 */
/**
 * A series of width helper classes that you can use to size things like grid
 * systems. Classes take a fraction-like format (e.g. `.u-2/3`). Use these in
 * your markup:
 *
 * <div class="u-7/12">
 *
 * The following will generate widths helper classes based on the fractions
 * defined in the `$inuit-fractions` list.
 */
.u-1\/1 {
  width: 100% !important; }

.u-1\/2 {
  width: 50% !important; }

.u-2\/2 {
  width: 100% !important; }

.u-1\/3 {
  width: 33.33333% !important; }

.u-2\/3 {
  width: 66.66667% !important; }

.u-3\/3 {
  width: 100% !important; }

.u-1\/4 {
  width: 25% !important; }

.u-2\/4 {
  width: 50% !important; }

.u-3\/4 {
  width: 75% !important; }

.u-4\/4 {
  width: 100% !important; }

.u-1\/5 {
  width: 20% !important; }

.u-2\/5 {
  width: 40% !important; }

.u-3\/5 {
  width: 60% !important; }

.u-4\/5 {
  width: 80% !important; }

.u-5\/5 {
  width: 100% !important; }

/**
 * If we’re using Sass-MQ, automatically generate grid system(s) for each of our
 * defined breakpoints, and give them a Responsive Suffix, e.g.:
 *
 * <div class="u-3/12@mobile">
 */
